body {
  font-family: Calibri, sans-serif;
  padding: 10px;
  min-width: 300px;
}

body.light-mode {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

body.dark-mode {
  background-color: #1e1e1e; /* Dark background */
  color: #d4d4d4; /* Light text */
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 300px;
  display: block;
}

button {
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
 /* display: flex;*/
  /*align-items: center;
  justify-content: center;*/
}

.txtButton.light-mode {
  background-color: #0078d4; /* Blue button background */
  color: #ffffff; /* White text */
  border: none;
}

.txtButton.dark-mode {
  background-color: #0078d4; /* Blue button background */
  color: #ffffff; /* White text */
  border: none;
}

.snipIcons {
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  clip-path: circle(50%);
}

.snipIcons:hover
{
  background-color: #0078d4;
}

body.light-mode .snipIcons {
  filter: invert(1); /* Dark icons for light mode */
}

body.light-mode .snipIcons:hover {
  background-color: #ff3d00; /* Dark icons for light mode */
}

body.dark-mode button svg {
  fill: #ffffff; /* Light icons for dark mode */
}

#savedSnippets {
margin-top: 10px;
padding: 10px;
}

#savedSnippets.light-mode {
background-color: #F2FBFD; /* Light background */
color: #000000; /* Dark text */
border: 1px solid #cccccc; /* Border color */
}

#savedSnippets.dark-mode {
background-color: #252526; /* Dark background */
color: #d4d4d4; /* Light text */
border: 1px solid #3c3c3c; /* Border color */
}

#savedSnippets div {
margin-bottom: 5px;
padding: 5px;
}

#savedSnippets div.light-mode {
background-color: #F2FBFD; /* Light background */
color: #000000; /* Dark text */
}

#savedSnippets div.dark-mode {
background-color: #252526; /* Dark background */
color: #d4d4d4; /* Light text */
}

.icon-button-container {
  display: flex;
  gap: 5px; /* Space between buttons */
}
